html{
  scroll-behavior: smooth;
}
/*Fondo de la pagina*/
body{
background-image:url(../imagenes/otras/fondo.png);
}
#active{
  background-color: white;
  border-radius: 20px;
  color: #cb0d59;
}
.publi{
background-image:url(../imagenes/otras/publifondo.png);
background-position: 23%;
}
/*Cabecera*/
header{
    display: flex;
    color: #ffffff;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,58,116,1) 69%, rgba(0,212,255,1) 100%);
    border-radius: 20px;
    align-items: center;
    justify-content: space-between;
}
.left-section {
  display: flex;
  align-items: center;
}
.left-section img{
  margin-left: 20%
}
/*Barra de navegacion*/
.navbar {
  display: flex;
  justify-content: flex-end;
  font-size: 100%;
}
.navbar a {
    color: white;
    text-align: right;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    padding: 25px 30px;
    font-family:arial;
}

.navbar a:hover {
    background-color: white;
    color: #cb0d59;
    border-radius: 20px;
}
/*Opcion para menos resolución/Movil*/
#toggle {
  display: none;
}

.togglearea {
    padding: 10px;
    display: none;
    align-items: center;
}

.togglearea label {
    background-color: rgba(0,58,116,1);
    height: 45px;
    width: 45px;
    border-radius: 6px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.togglearea label span {
    background-color: rgb(255, 255, 255);
    height: 4px;
    width: 70%;
    margin: 2px 0px;
    border-radius: 6px;
}

@media screen and (max-width: 700px) {
    .navbar {
        flex-direction: column;
        display: none;
    }

    #toggle:checked+.navbar {
        display: flex;
    }

    .togglearea {
        display: flex;
    }
    .space{
      justify-content: flex-start;
    }

}
@media screen and (max-width: 850px) {
  .terms{
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    font-size: 80%;
  }
  .terms a{
    margin-bottom: 1vh;
  }
}
@media screen and (max-width: 1200px) {
  .navbar {
      flex-direction: column;
      display: none;
  }
  #toggle:checked+.navbar {
      display: flex;
  }
  .togglearea {
      display: flex;
  }
  .lista-proxpar {
      flex-wrap: wrap;
      justify-content: center;
    }
  .lista-proxpar .proxpar {
    margin-right: 0;
    margin-bottom: 10px;
    display: flex;
  }
  .videonoti{
    width: 50%;
  }
  .videonoti2{
    width: 35%;
  }
  .boton{
    display: none;
  }
}
@media screen and (max-width: 500px) {
  .equipo-container {
    flex-wrap: wrap;
  }
  .noticiasinicio {
    flex-wrap: wrap;
  }
  .espaciado{
    margin-bottom: 3%;
  }
  .tablaclasi th,td {
    padding: 5px;
  }
}
@media screen and (max-width: 550px) {
  label h3{
    margin-right: 5%;
  }
}
/*Noticias, Foto noticia + pie de foto*/
.espaciado{
  margin-right: 3%;
}
.noticiasinicio {
    margin-top: 2%;
    display: flex;
    padding: 15px 0;
    border-radius: 20px;
}
.foto {
    width: 100%;
    margin-bottom: 1%;
}
.pie-fotonoti {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  color: white;
  border: 2px solid white;
  border-radius: 20px;
  background-color: #64b3db;
}
.pie-fotonoti h1{
  font-weight: bold;
  text-decoration: underline;
  font-size: 200%;
}
.fotonoti{
  width: 100%;
  border-radius: 20px; 
}
.columna{
  flex-direction: column;
}
/*Proximos 6 partidos*/
.proxpar {
  width: 15%;
  height: 7%;
  border: 1px solid black;
  border-radius: 20px;
  display: flex;
  margin-top: 0px;
  flex-direction: column;
  padding: 10px;
  color: white;
  font-size: 90%;
  font-weight: bold;
  text-align: center;
}
/*Fondos Partidos*/
.carcow{
  background: linear-gradient(135deg, rgba(255,0,0,1) 0%, rgba(36,0,154,0.6559873949579832) 100%);
}
.raiste{
  background: linear-gradient(135deg, rgba(0,0,0,1) 0%, rgba(255,255,255,1) 100%);
}
.benram{
  background: linear-gradient(135deg, rgba(255,98,0,1) 0%, rgba(255,255,255,1) 100%);
}
.chibea{
  background: linear-gradient(135deg, rgba(255,255,255,1) 0%, rgba(255,0,0,1) 100%);
}
.cowcar{
  background: linear-gradient(135deg, rgba(36,0,154,0.6559873949579832) 0%, rgba(255,0,0,1) 100%);
}
.sterai{
  background: linear-gradient(135deg, rgba(255,255,255,1) 0%, rgba(0,0,0,1) 100%);
}

.fechahora {
  border: 2px solid white;
  border-radius: 20px;
}

.equipos {
  display: flex;
  justify-content: space-between;
}
.vermas{
  background-color: #0074cc;
  color: #fff;
  border: none;
  border-radius: 10px;
  width: 100px;
  text-align: center;
  text-decoration: none;
  font-size: 13px;
  cursor: pointer;
} 
.vermas:hover{
  background-color: darkblue;
}
.galeria{
  padding: 16px;
}
.lista-proxpar .proxpar{
  width: 300px;
  height: 115px;
  margin-right: 10px;
  margin-top: 10px;
}
.lista-proxpar{
  display: flex;
}
.logito{
  width: 30px;
  height: 30px;
}
/*Jugadores lideres, Podio*/
.lideres{
  text-align: center;
  font-family: arial;
}
.podium{
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 7%;
  margin-bottom: 2%;
}
.podio {
  display: flex;
}
.puesto {
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  margin: 0 20px;
  width: 300px;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.primero {
  background-image: url(../imagenes/otras/oro.jpg);
  transform: translateY(-60px); 
  order: 2;
}

.segundo {
  background-image: url(../imagenes/otras/plata.jpg);
  transform: translateY(-20px);
  order: 1;
}
.tercero {
 background-image: url(../imagenes/otras/bronce.jpg);
  order: 3;
}

.podiofoto {
  width: 80%;
  height: 70%;
  background-color: #ccc;
  border-radius: 10px;
  overflow: hidden;
}

.podiofoto img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.pie-foto {
  margin-top: 10px;
  font-weight: bold;
  color: black;
}
.pie-foto2{
  text-align: center;
  color: white;
  font-size: 90%;
}

@media screen and (max-width: 768px) {
  .podio {
    flex-direction: column;
  }

  .primero {
    order: 1;
  }

  .segundo {
    order: 2;
  }

  .tercero {
    order: 3;
  }
}
/*Footer*/
.footer {
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,58,116,1) 69%, rgba(0,212,255,1) 100%);
  padding-bottom: 10px;
  color: white;
  border-radius: 20px;
  text-align: center;
  
}
.footer ul {
  list-style: none;
  margin-right: 2%;
}
.footer li p{
  font-size: 70%;
}
.footer li a{
  text-decoration: none;
  color: white;
}
.terms{
  justify-content: space-between;
  display: flex;
  font-size: 80%;
}
/*Boton para subir arriba de la pag*/
.botonup {
  background-color: white;
  padding: 0.4%;
  position: fixed;
  right: 0;
  bottom: 0;
  border-radius: 30px;
  font-size: 125%;
}
/*Jornadas|Partidos*/
.divpartidos {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

.jornadas {
  list-style: none;
  padding: 0;
  text-align: center;
}

.jornadas li {
  display: inline-block;
}

.jornadas li a {
  margin: 5px;
  display: inline-block;
  padding: 10px 20px;
  background-color: rgba(0, 212, 255, 1);
  border-radius: 6px;
  color: black;
}


.infopartido {
  margin-top: 20px;
  font-weight: bold;
}

.infopartido h3 {
  margin-top: 5px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}
/*Popup para ver info del partido en cuestion*/
.popup {
  display: flex;
  transform: scale(0);
  position: fixed;
  top: 0;
  left: 0; 
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  align-items: center;
  justify-content: center;
}
.popup-button {
  cursor: pointer;
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
}
.popup-toggle {
  display: none;
}
.popup-toggle:checked + .popup {
  transform: scale(1);
  transition: 1s;
}
.popup-content {
  background-color: #fff;
  width: 650px;
  height: 460px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  pointer-events: auto;
}
.popup-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.popup-close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  cursor: pointer;
}
.space{
  display: flex;
  cursor: pointer;
  justify-content: space-around;
  margin: 10px;
}

@media screen and (max-width: 730px) {
.space{
  justify-content:flex-start;
}
label h3{
  margin-right: 15%;
}
.podium{
  margin-top: 100px;
}
}
.contenedor {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 20px;
}
.tabla-estadisticas {
  background-color: #fff;
  border: 2px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 60%; /* La tabla izquierda ocupa el 60% del espacio */
  padding: 20px;
}
.tabla-estadisticas-half {
  background-color: #fff;
  border: 2px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 30%; /* La tabla derecha ocupa el 30% del espacio */
  padding: 20px;
}
.tabla-estadisticas-half table{
  justify-content: left;
}
.cabecera {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.equipo, .fecha-hora {
  text-align: center;
}
.equipo h2 {
  margin: 0;
  font-size: 20px;
}
.tabla-estadisticas table {
  width: 100%;
  border-collapse: collapse;
}
.tabla-estadisticas th, td {
  padding: 8px;
  text-align: center;
}

.tabla-estadisticas th {
  background-color: #333;
  color: #fff;
}
/*Tabla clasificación*/
.divtabla {
  display: flex;
  justify-content: center;
  margin-top: 5%;
  margin-bottom: 5%;
}

.tablaclasi {
  width: 100%;
  border: none;
  font-family: Arial, Helvetica, sans-serif;
}

.tablaclasi th,td {
  text-align: center;
  padding: 10px;
}
.tablaclasi td {
  background-color: #3f91e4;
}

.columnatabla {
  background-color: #003973;
  text-align: center;
  font-size: 1rem;
  color: white;
}

.celdatabla {
  background-color: rgb(244, 239, 239);
}

.titulotabla {
  background-color: #002749;
  color: white;
  font-weight: bold;
}
/*Colores equipos*/
.bears{
  background: linear-gradient(90deg, rgba(255,0,0,1) 0%, rgba(2,0,36,1) 100%);
  color: white;
}
.chiefs{
  background: linear-gradient(90deg, rgba(255,0,0,1) 0%, rgba(255,255,255,1) 100%);
  color: white;
}
.rams{
  background: linear-gradient(90deg, rgba(91,255,0,1) 0%, rgba(255,255,255,1) 100%);
  color: white;
}
.bengals{
  background: linear-gradient(90deg, rgba(255,115,0,1) 0%, rgba(0,0,0,1) 100%);
  color: white;
}
.steelers{
  background: linear-gradient(90deg, rgba(0,143,57,1) 0%, rgba(255,255,255,1) 100%);
  color: white;
}
.raiders{
  background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(255,255,255,1) 100%);
  color: white;
}
.cowboys{
  background: linear-gradient(90deg, rgba(0,34,68,1) 0%, rgba(255,255,255,1) 100%);
  color: white;
}
.cardinals{
  background: linear-gradient(90deg, rgba(255,0,0,1) 0%, rgba(255,141,141,1) 100%);
  color: white;
}
/*Formulario de contacto*/
.formcontact{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.sectionpacontact{
  padding: 25px 50px 70px;
}
.entradatext{
  font-weight: bold;
  font-size: 18px;
  border-radius: 5px;
  border: 2px solid #cb0d59;
  padding: 13px;
  margin-bottom: 15px;
  width: 100%;
}
.enviar{ 
  width: 107%;
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,58,116,1) 69%, rgba(0,212,255,1) 100%);
  border-radius: 5px;
  cursor: pointer;
  color: white;
  font-size: 24px;
  padding-top: 10px;
  padding-bottom: 10px;
}
textarea{
  height: 150px;
  resize: none;
}
form{
  max-width: 420px;
  margin: 10px auto;
}

/*Estilos para las noticias 1 y 2 */

.ContenedorImg {
  text-align: center;

}

.PublicidadImg {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/*Estilos para la lista de personas dentro del equipo*/
details {
  border: 1px solid #ddd;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  background-color: #64b3db;
  font-family: Arial, Helvetica, sans-serif;
}

.toggle-summary {
  font-weight: bold;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

toggle-summary::marker {
  display: none;
}

.toggle-button {
  font-size: 20px;
}

details[open] .toggle-summary .toggle-button {
  transform: rotate(90deg);
  transition: transform 0.3s;
}

.divequipos {
  width: 100%;
}


/* Alinea horizontalmente a los jugadores de LB */
.divjugadores{
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

/* Estilos para cada jugador de LB */
.divjugadores> div {
  margin-bottom: 10px;
}

/* Alinea el texto del nombre debajo de la imagen */
.divjugadores p {
  margin-top: 5px;
}

.cardinals-bg{
  background-image:url(../imagenes/otras/OIG.jpg);
}
.cowboys-bg{
  background-image:url(../imagenes/otras/cowfond.jpg);
}
.raiders-bg{
  background-image:url(../imagenes/otras/raidersfond.jpg);
}

.fotoequipos {
  width: 100%;
}

.divjugadores p {
  margin: 0; /* Elimina el margen predeterminado del párrafo */
}

/*Estilos pagina noticias*/
.grid-noticias {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
}
.grid-noticia {
  margin-top: 10px;
  margin-right: 10px;
  width: 100%;
  position: relative;
}
.grid-noticia:hover {
  -webkit-transform:scale(1.1);transform:scale(1.1);
  transition-duration: 1s;
  z-index: 1;
}

.grid-noticia img {
  width: 100%;
  height: auto;
  border-radius: 6px;
}
.pie audio {
  width: 100%;
}
.pie {
  bottom: 0;
  left: 0;
  width: 96%;
  background-color: white;
  color: black;
  padding: 20px 10px;
  font-size: 14px;
  font-weight: bold;
  font-family: arial;
  text-align: center;
  border-radius: 6px;
  text-decoration: underline;
}
.noticias h1{
  text-align:center;
  margin-left: 10px;
  border-radius: 6px;
  font-size: 30px;
  font-family: arial;
  color: white;
  background: linear-gradient(90deg, rgb(6, 0, 124) 0%, rgb(103, 170, 238) 69%, rgba(0,212,255,1) 100%);
}
.videonoti2{
  width: 70%;
}
.logopie{
  width: 50px;
}
.boton {
  position: fixed;
  bottom: 5vh;
  right: 1vw;
  text-align: right;
}
.pasubir {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #003973;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 0px 4px rgba(180, 160, 255, 0.253);
  cursor: pointer;
  transition-duration: 0.3s;
  overflow: hidden;
}

.svgIcon {
  width: 12px;
  transition-duration: 0.3s;
}

.svgIcon path {
  fill: white;
}

.pasubir:hover {
  width: 140px;
  border-radius: 50px;
  transition-duration: 0.3s;
  background-color: #64b3db;
  align-items: center;
}

.pasubir:hover .svgIcon {
  transition-duration: 0.3s;
  transform: translateY(-200%);
}

.pasubir::before {
  position: absolute;
  bottom: -20px;
  content: "Subir arriba";
  color: white;
  font-size: 0px;
}

.pasubir:hover::before {
  font-size: 13px;
  opacity: 1;
  bottom: unset;
  transition-duration: 0.3s;
}
select {
  /* Reset Select */
  appearance: none;
  outline: 10px red;
  border: 0;
  box-shadow: none;
  /* Personalize */
  flex: 1;
  padding: 0.5em;
  color: black;
  background-image: none;
  cursor: pointer;
}

/* Remove IE arrow */
select::-ms-expand {
  display: none;
}

/* Custom Select wrapper */
.select {
  position: relative;
  display: flex;
  width: 10em; /* Modificado para hacerlo más pequeño */
  height: 2em; /* Modificado para hacerlo más pequeño */
  border-radius: .25em;
  overflow: hidden;
}

/* Arrow */
.select::after {
  content: '\25BC';
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.5em;
  background-color: #002749;
  pointer-events: none;
}

/* Transition */
.select:hover::after {
  color: #64b3db;
}
/*Estilos extra*/
.textdecoration{
  text-decoration: none;
}
.alignleft{
  text-align: left;
}
.divpartidos a{
  text-decoration: none;
}
.colorblue{
  color: blue;
}
.marginleft{
  margin-left: 20%;
}
.lineheight{
  line-height: 150%;
}
.uppercase{
  text-transform: uppercase;
}