body{
    background-color: white;
}
.container{
    display: flex;
    color: #ffffff;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,58,116,1) 69%, rgba(0,212,255,1) 100%);
    border-radius: 20px;
    justify-content:flex-start;
    align-items: center;
}
.logo{
    width: 100%;
    margin-left: 20%;
}
.navbar {
    font-size: 100%;
    margin-left: 15%;
}

.navbar a {
    color: white;
    text-align: right;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    padding: 25px 30px;
    font-family:arial;
}

.navbar a:hover {
    background-color: white;
    color: #cb0d59;
    border-radius: 20px;
}
.noticiasinicio {
    margin-top: 2%;
    display: flex;
    padding: 15px 0;
    border-radius: 20px;
}
.foto {
    width: 100%;
    margin-bottom: 2%;
}

.pie-fotonoti {
text-align: center;
font-style: arial;
color: #555555;
}

.fotonoti{
    width: 100%;
    border-radius: 20px; 

}
.columna{
    flex-direction: column;
}
.span1{
    margin-left: 3%;
}
.span2{
    margin-right: 10%;
}
.proxpar {
    width: 15%;
    height: 7%;
    border: 1px solid black;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    padding: 10px;
  }
  
  .fechahora {
    display: flex;
    justify-content: space-between;
  }
  
  .equipos {
    display: flex;
  }
  
  .ver-mas {
    text-align: right;
  }
  
  .ver-mas a {
    color: blue;
    text-decoration: none;
  }
  
  .ver-mas a:hover {
    text-decoration: underline;
  }